<!DOCTYPE html>
<html>
<head>
    <title><%= page_title %></title>
</head>
<body>
<h3><%= page_title %></h3>
<form action="/customer/edit/<%= data[0].userid %>" method="post">
	<label>帐号</label>
	<input type="text" id="txtUsername" name="username" value="<%= data[0].username %>"/><br/>
	<label>邮箱</label>
	<input type="text" id="txtEmail" name="email" value="<%= data[0].email %>"/><br/>
	<label>电话</label>
	<input type="text" id="txtMobile" name="mobile" value="<%= data[0].mobile %>"/><br/>
	<input type="submit" id="btnSubmit" value="提交"/>&nbsp;&nbsp;
	<input type="reset" id="btnReset" value="重置"/>
</form>
</body>
</html>